/*i give them a block dispaly*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: block;
  width: 125px;
  height: 125px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.356);
}
.swiss1 {
  background-color: crimson;
  width: 25px;
  height: 25px;
  float: left;
}
/* I share the classe to 2 different classes*/

.swiss2 {
  background-color: snow;
  width: 25px;
  height: 25px;
  float: left;
}
